;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[maximoplus-client "1.0.0-SNAPSHOT"]
  [org.clojure/core.async "0.3.443"]]

 :builds
 {:script
  {:id        :script
   :target    :node-script
   :main      maximoplus.graphql/main
   :output-to "out/gscript.js"
   }}
 }
